p
{
	font-size: 18px;
	color: white;
	margin-left: 10px;
}

.jumbotron
{
	text-align: center;
}

#tableHeader
{
	margin-top: 20px;
	background-color: #5bbe95;
}



#tableBorder
{
	border-left: 2px solid rgb(119, 117, 121);
	border-right: 2px solid rgb(119, 117, 121);
	border-bottom: 2px solid rgb(119, 117, 121);
}

